body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.iframe-container {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.footer {
	color: red;
  display: fixed;
  position: relative;
  bottom: 0px;
  padding-bottom: 50px;
  padding-left: 20px;
}
