body {
	padding-top: 40px;
	margin: 0;
	font-family: sans-serif;
 }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.single-room {
	display: flex;
	flex-direction: column;
}

.Chatbucket-container {
	background: #ffffff;
	position: fixed;
	border-top: solid red;
	bottom: 0px;
	width: 100%;
}


.chat-box {
	overflow-wrap: normal;
	max-height: 200px;
	bottom: 0;
	overflow: scroll;
}

.iframe-container {
	/* overflow: hidden; */
	padding-top: 100%;
	position: relative;
	border-bottom: 1px solid black;
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
}

.single-msg {
	display: flex;

}

.single-msg-box {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	margin: 5px;
}

.single-msg-profile{
	background-color: rgb(255, 255, 255);
	justify-content: flex-end;
	align-content: flex-end;
}

.single-msg-text-container{
	background-color: rgba(235, 235, 235, 0.287);
	flex-grow: 5;
	border-radius: 15px 50px 30px;
}

.single-msg-textBody {
	justify-content: flex-end;
	font-family: 'Varela Round', sans-serif;
	margin-left: 10px;
  margin-top: 5px;
}

.img-round {
	border-radius: 50%;
	width: 60px;
}

.user-profile-pic {
	justify-self: flex-end;
}

.user-profile-name {
	font-family: 'Muli', sans-serif;
	color: rgba(19, 54, 75, 0.493);
}

.chat-box-input {
	border-radius: 50px 50px 50px;
}

/* .input {
  position: relative;
  font-size: 1.5em;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
}
.input *:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 .325em;
  z-index: 1;
}
.input *:not(span):focus + span {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.input span {
  -webkit-transform: scale(0.993, 0.94);
          transform: scale(0.993, 0.94);
  transition: opacity .25s, -webkit-transform .5s;
  transition: transform .5s, opacity .25s;
  transition: transform .5s, opacity .25s, -webkit-transform .5s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd,  -3px 3px 30px #10abff;
}

input {
  font-family: inherit;
  line-height: inherit;
  color: #2e3750;
  min-width: 12em;
} */

/*
::-webkit-input-placeholder {
  color: #cbd0d5;
}

:-ms-input-placeholder {
  color: #cbd0d5;
}

::-ms-input-placeholder {
  color: #cbd0d5;
}

::placeholder {
  color: #cbd0d5;
}

html::after {
  content: '';
  background: linear-gradient(21deg, #10abff, #1beabd);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
.discourse-list {
	display: flex;
	flex-direction: column;
}
} */

.discourse-card {
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  background: #fff;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  margin: 10px;
	padding-bottom: 5%;
	padding-left: 5%;
	margin-left: 5%;
	margin-right: 5%;
	padding-right: 5%;
	display:flex;
	flex-direction: row;
	border-radius: 16px;
}

.discourse-card:hover {
	box-shadow: 0 4px 8px #e0e0eb;
}

.discourse-card-img {
	width: 100px;
	height: 100px;
	margin-left: 4px;
	margin: 5% auto;
	border-radius: 16px;
}
.discourse-card-content{
	margin-top: 5%;
	margin-left: 5px;
	display: flex;
	flex-direction: column;
}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {

}

/* Large screens */
@media only screen and (min-width : 1824px) {

}

/* Tablets (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* Tablets (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {

}
.navbar {
	display: flex;
	padding-left: 1vw;
}

.chat-button {
	width: 40px;
	height: 40px;
	min-width: 40px;
	margin: 8px;
}


.Form-Flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.chat-box-input{
	width: 25em;
	padding-left: 12px;
	padding-top: 4px;
	background-color: #f1f1f1;
	border: none;
  margin-top: 8px;
}

.bottom-nav {
display: flex;
flex-direction: row;
justify-content: center;
align-content: space-around;
}

.BlockChain-Bar {
	background-color: #c92587;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.BlockChain-Center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: 1;
	color:white;
}

.BlockChain-Container {
	display: flex;

}

.BlockChain-Bar-Eth-Balance {
	margin-left: 8px;
	color: white;
}

.tip-over {

	animation: shake 400ms 2 linear;
}

@keyframes shake {
  0% {
    transform: translate(6px, 0);
  }
  50% {
    transform: translate(-6px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}


.BlockChain-Bar-Account-Availible {

}

i.icon-fire {
	color: orange;
}

.chip-bar {
	color: white;
}
