@import "./css/desktop.css";
@import "./css/tabletPortrait.css";
@import "./css/tabletLandscape.css";
@import "./css/phonePortrait.css";
@import "./css/phoneLandscape.css";

body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(243, 242, 245, 1);
}
@media screen and (max-width: 768px) {
}

.single-room {
  display: flex;
  flex-direction: column;
}

.Chatbucket-Container {
  position: fixed;

  bottom: 0px;
  width: 100%;
}

.White-Background {
  background: white;
}

.chat-box {
  background: white;
  overflow-wrap: normal;
  max-height: 200px;
  bottom: 0;
  overflow: scroll;
}

.iframe-container > * {
  overflow: hidden;
  margin: 10px;
}

.iframe-container img {
  max-width: 90%;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.iframe-container span {
  color: rgb(29, 29, 29);
}

.single-msg {
  display: flex;
}

.single-msg-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin: 5px;
}

.single-msg-profile {
  background-color: rgb(255, 255, 255);
  justify-content: flex-end;
  align-content: flex-end;
}

.single-msg-text-container {
  background-color: rgba(235, 235, 235, 0.287);
  flex-grow: 5;
  border-radius: 15px 50px 30px;
}

.single-msg-textBody {
  justify-content: flex-end;
  font-family: "Varela Round", sans-serif;
  margin-left: 10px;
  margin-top: 5px;
}

.img-round {
  border-radius: 50%;
  width: 30px;
}

.user-profile-pic {
  justify-self: flex-end;
}

.user-profile-name {
  font-family: "Muli", sans-serif;
  color: rgba(19, 54, 75, 0.493);
}

.discourse-card {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  background: #fff;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  margin: 10px;
  padding-bottom: 5%;
  padding-left: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
}

.discourse-card:hover {
  box-shadow: 0 4px 8px #e0e0eb;
}

.discourse-card-img {
  width: 100px;
  height: 100px;
  margin-left: 4px;
  margin: 5% auto;
  border-radius: 16px;
}
.discourse-card-content {
  margin-top: 5%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  padding-left: 1vw;
}

.chat-button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin: 8px;
}

.Form-Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat-box-input {
  border-radius: 50px 50px 50px;
  padding-left: 12px;
  padding-top: 4px;
  background-color: #f1f1f1;
  border: none;
  flex: 1;
  height: 3em;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
}

.BlockChain-Bar {
  background-color: #93f5de;
  background: 25c9a37a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 12px;
  margin: 3px;
}

.BlockChain-Center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
}

.BlockChain-Center-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
}

.BlockChain-Container {
  display: flex;
}

.BlockChain-Bar-Eth-Balance {
  font-family: "PT Sans", sans-serif;
  margin-left: 8px;
  color: white;
}

.tip-over {
  animation: shake 200ms 2 linear;
}

@keyframes shake {
  0% {
    transform: translate(6px, 0);
  }
  50% {
    transform: translate(-6px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.BlockChain-Bar-Account-Availible {
}

i.icon-fire {
  color: orange;
}

.chip-bar {
  color: white;
  font-family: "Prompt", sans-serif;
}

.SimpleAppBar-root-1 {
  /* flex-grow: 1; */
  /* z-index: 2; */
  display: flex;
}

.Bottom-Nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1;
}

.chat-input-container {
  display: flex;
  flex-direction: row;
}

.chat-input-left {
}

.chat-input-right {
}

.discourse-list {
  margin: 10px;
}

.MuiCardContent-root-116 {
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
}

.story-body__inner {
  z-index: -1;
}

.gifBar {
  background: rgb(255, 255, 255);
  border-radius: 18px;
  padding: 10px;
  border-style: solid;
}

.chatGif {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 18px;
}
._1KkHIRuOEYyPrmBuaClRnV {
  border-radius: 18px;
  padding: 5px;
}
.zYqoW58qDQxXpBtmFR_r1 {
  color: rgb(39, 39, 39);
}

.TitleFont {
  font-family: "Roboto Slab", serif;
  font-size: 1.6em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.705);
}

.MuiTypography-root-112 {
  margin: 0;
  display: block;
  font-family: "Roboto Slab", serif;
}

.MuiTypography-body1-121 {
  color: rgba(0, 0, 0, 0.56);
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.2em;
}

a {
  text-decoration: none;
}

.MuiButton-containedPrimary-54 {
  color: #fff;
  background-color: #3f51b59c;
}

.source-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4px;
  margin-right: 4px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 12px;
  padding-left: 4px;
  align-items: baseline;
  border-left: 6px solid red;
  background-color: rgba(211, 211, 211, 0.142);
  margin-bottom: 15px;
}

.source-info-discourse-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4px;
  margin-right: 4px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 12px;
  padding-left: 4px;
  align-items: baseline;
  border-left: 6px solid red;
  background-color: rgba(211, 211, 211, 0.142);
  margin-bottom: 15px;
}
.text-size2 {
  font-size: 1em;
}

.source-name-published {
  font-size: 0.6em;
  margin-left: 3px;
}

.no-margin {
  margin-left: 0px;
  border-bottom: 1px solid red;
  margin-bottom: 8px;
}

jss63 {
  width: 40px;
  height: 40px;
}

h6,
p {
  font-weight: 400;
  line-height: 24px;
}

.user-details-page {
  
}